# Python
__pycache__/
*.pyc

# Environnement virtuel
venv/

# Base de données
db.sqlite3

# Fichiers sensibles
*.env

# Django
*.log
/staticfiles/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.env

# Virtualenv
venv/
ENV/
env/

# Django
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
api/migrations/
projet12/migrations/

